@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Pushster&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
	font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
	font-weight:normal;
	font-style:normal;
}
*{
	font-family: 'Metal Mania', cursive;
	font-family: 'Pushster', cursive;
	font-family: 'Raleway', sans-serif;;
	color:#777;
	
}
.nav ul{
	margin:0;
}
html,body{
	margin:0;
	padding:0;
}
.main-header{
	background-image:url("Image/Header Background.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-color:rgb(0,0,0,.6);
	background-blend-mode:multiply;
	padding-bottom:30px;
}
.nav a{
	display:inline-block;
	padding:.5em;
	color:whiter;
	text-decoration:none;
}
.nav li{
	display:inline;transition:0.5s;
}
.main-nav{
	text-align:center;
	font-size: 1.3em;
	font-weight: lighter;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	
}
.main-nav li a{color:white;}
.main-nav li {
    padding: 0 5%;
	
}

.nav a:hover {
    background-color: rgba(255,255,255,0.3);
    font-weight:400;
	
}
.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
	font-family: 'Pushster', cursive;
	font-weight:normal;
	font-style:normal;
}
.brand-name-large{
	font-size:8em;
}
.content-section {
    margin: 1em;
}

.container {
    padding: 0 1.5em;
    max-width: 900px;
    margin: 0 auto;
}

.section-header {
    font-family: 'Metal Mania', cursive;
    font-weight: normal;
    font-size: 2.5em;
    color: #333;
    text-align: center;
}
.about-band-image {
    width: 200px;
    height: 200px;
    float: left;
    margin: 15px;
    border-radius: 50%;
}

footer.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align:end;
}
.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.footer-nav a:hover {
    background-color: #56c;
    border-radius: 15%;
}

.btn {
    text-align: center;
    vertical-align: middle;
	padding: 0.67em;
    cursor: pointer;
}
.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background: rgba(255,255,255,.1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-right: 2em;
    padding-left: 2em;
}

.btn-header:hover {
    background-color: rgba(255,255,255,.3);
}
.btn-play{
	margin:0 auto;
	color:#2d9CDB;
	font-size:4em;
	padding:0;
	border-radius:1000%;
	width:100px;
	height:100px;
	display:block;

}


.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    padding-right: .5em;
    display: inline-block;
}

.tour-date {
    width: 11%;
    color: #555;
    font-weight: bold;
}

span.tour-item.tour-date {}

.tour-city {
    width: 24%;
}

span.tour-item.tour-arena {}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

img.shop-item-image {
    height: 250px;
}

.shop-items-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.shop-items{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-colum {
    margin-right: 1.5em;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
	display:flex;
	align-items:center;
	
}

.cart-row{
	display:flex;
}
.cart-item{
	width:45%;
}
.cart-price{
	width:20%;
	font-size: 1.3em;
    color: #333;
}
.cart-quantity{
	width:35%;
}
.cart-item-title{
	color:#333;
	margin-left:.5em;
	font-size:1.2em;
}

.cart-item-image{
	width:75px;
	height:auto;
	border-radius:10px;
}
.btn-danger{
	color:white;
	background-color:#EB5757;
	border-radius:.3em;
	border:none;
	font-weight:bold;
}

.btn-danger:hover{
	background-color:#CC4C4C;
}


.cart-quality-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 2px solid #56CCF2;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child{
	border-bottom:1px solid black;
}
 .cart-row:last-child .cart-colum{
	 border:none;
 }

.cart-total{
    text-align:end;
    margin-top:10px;
    margin-right:10px;
}

.cart-total-title{
	font-weight:bold;
	font-size:1.5em;
	color:black;
	margin-right:30px;
}

.cart-total-price{
    color:#333;
    font-size:1.1em;
}
.btn-purches {
    display: block;
    margin: 40px auto 80px auto;
    padding: 15px 37px;
    font-size: 1em;
}